<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Movie tickets</title>
        <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
        <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
        <script src="semantic/dist/semantic.min.js"></script>
    </head>
    <body ng-app="App">

        <div class="ui container" ng-controller="mainController">

            <h1>Best movie ticket booking system ever</h1>

            <p>{{ cinema }}</p>

            <div class="ui menu">
                <div class="item">
                    <div class="ui primary button" 
                        ng-model="booking" 
                        ng-click="booking = true">
                        Book tickets
                    </div>
                </div>
                <div class="item">
                    <div class="ui button" 
                        ng-model="cancelling" 
                        ng-click="cancelling = true">
                        Cancel a booking
                    </div>
                </div>
            </div>

            <div class="ui form" 
                ng-if="booking">
                <div class="field">
                    <label>Which cinema location are you looking for?</label>
                    <div class="ui selection dropdown">
                        <input type="hidden" name="location">
                        <i class="dropdown icon"></i>
                        <div class="default text">Choose from dropdown</div>
                        <div class="menu">
                            <div class="item" data-value="1">Cinema 1</div>
                            <div class="item" data-value="2">Cinema 2</div>
                            <div class="item" data-value="3">Cinema 3</div>
                            <div class="item" data-value="4">Cinema 4</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui form">
                <div class="field">
                    <label>Which movie do you want to see?</label>
                    <div class="ui selection dropdown">
                        <input type="hidden" name="movie">
                        <i class="dropdown icon"></i>
                        <div class="default text">Choose from dropdown</div>
                        <div class="menu">
                            <div class="item" data-value="1">Movie 1</div>
                            <div class="item" data-value="2">Movie 2</div>
                            <div class="item" data-value="3">Movie 3</div>
                            <div class="item" data-value="4">Movie 4</div>
                            <div class="item" data-value="5">Movie 5</div>
                            <div class="item" data-value="6">Movie 6</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui form">
                <label>Pick a day to see showing times.</label>
                    <div class="inline fields">
                    <div class="field">
                    <div class="ui button">
                        <input type="hidden" name="dates" tabindex="0" class="hidden">
                        <label>Monday</label>
                    </div>
                    </div>
                    <div class="field">
                    <div class="ui disabled button">
                        <input type="hidden" name="dates" tabindex="0" class="hidden">
                        <label>Tuesday</label>
                    </div>
                    </div>
                    <div class="field">
                    <div class="ui button">
                        <input type="hidden" name="dates" tabindex="0" class="hidden">
                        <label>Wednesday</label>
                    </div>
                    </div>
                    <div class="field">
                    <div class="ui button">
                        <input type="hidden" name="dates" tabindex="0" class="hidden">
                        <label>Thursday</label>
                    </div>
                    </div>
                    <div class="field">
                    <div class="ui button">
                        <input type="hidden" name="dates" tabindex="0" class="hidden">
                        <label>Friday</label>
                    </div>
                    </div>
                    <div class="field">
                    <div class="ui button">
                        <input type="hidden" name="dates" tabindex="0" class="hidden">
                        <label>Saturday</label>
                    </div>
                    </div>
                    <div class="field">
                    <div class="ui button">
                        <input type="hidden" name="dates" tabindex="0" class="hidden">
                        <label>Sunday</label>
                    </div>
                    </div>
                </div>
            </div>

            <div class="ui form">
                <div class="grouped fields">
                    <label for="fruit">Select a showing time:</label>
                    <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="time" checked="" tabindex="0" class="hidden">
                        <label>13:00</label>
                    </div>
                    </div>
                    <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="time" tabindex="0" class="hidden">
                        <label>17:00</label>
                    </div>
                    </div>
                    <div class="field">
                    <div class="ui radio checkbox">
                        <input type="radio" name="time" tabindex="0" class="hidden">
                        <label>21:00</label>
                    </div>
                    </div>
                </div>
            </div>

            <div class="ui form">
                <label>Choose your seats</label>
                    <div class="inline fields">
                        <div class="field">
                        <div class="ui button">
                            <input type="hidden" name="seats" tabindex="0" class="hidden">
                            <label>1</label>
                        </div>
                        </div>
                        <div class="field">
                        <div class="ui disabled button">
                            <input type="hidden" name="seats" tabindex="0" class="hidden">
                            <label>2</label>
                        </div>
                        </div>
                        <div class="field">
                        <div class="ui button">
                            <input type="hidden" name="seats" tabindex="0" class="hidden">
                            <label>3</label>
                        </div>
                        </div>
                        <div class="field">
                        <div class="ui button">
                            <input type="hidden" name="seats" tabindex="0" class="hidden">
                            <label>4</label>
                        </div>
                        </div>
                        <div class="field">
                        <div class="ui button">
                            <input type="hidden" name="seats" tabindex="0" class="hidden">
                            <label>5</label>
                        </div>
                        </div>
                        <div class="field">
                        <div class="ui button">
                            <input type="hidden" name="seats" tabindex="0" class="hidden">
                            <label>6</label>
                        </div>
                        </div>
                        <div class="field">
                        <div class="ui button">
                            <input type="hidden" name="seats" tabindex="0" class="hidden">
                            <label>7</label>
                        </div>
                        </div>
                        <div class="field">
                            <div class="ui button">
                                <input type="hidden" name="seats" tabindex="0" class="hidden">
                                <label>8</label>
                            </div>
                            </div>
                        <div class="field">
                        <div class="ui button">
                            <input type="hidden" name="seats" tabindex="0" class="hidden">
                            <label>9</label>
                        </div>
                        </div>
                        <div class="field">
                        <div class="ui button">
                            <input type="hidden" name="seats" tabindex="0" class="hidden">
                            <label>10</label>
                        </div>
                        </div>
                    </div>
                <p>1 seat already booked.</p>
            </div>

            <form class="ui form">
                    <h4 class="ui dividing header">Your details</h4>
                    <div class="field">
                    <label>Name</label>
                    <div class="two fields">
                        <div class="field">
                        <input type="text" name="personal[first-name]" placeholder="First name">
                        </div>
                        <div class="field">
                        <input type="text" name="personal[last-name]" placeholder="Last name">
                        </div>
                    </div>
                    </div>
                    <div class="field">
                    <label>Mobile number</label>
                    <div class="fields">
                        <div class="twelve wide field">
                        <input type="text" name="personal[mobile]" placeholder="Mobile number">
                        </div>
                    </div>
                    </div>
                    <h4 class="ui dividing header">Billing details</h4>
                <div class="field">
                    <label>Card Type</label>
                    <div class="ui selection dropdown">
                    <input type="hidden" name="card[type]">
                    <div class="default text">Type</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item" data-value="visa">
                        Visa
                        </div>
                        <div class="item" data-value="mastercard">
                        Mastercard
                        </div>
                    </div>
                    </div>
                </div>
                <div class="fields">
                    <div class="seven wide field">
                    <label>Card Number</label>
                    <input type="text" name="card[number]" maxlength="16" placeholder="Card #">
                    </div>
                    <div class="three wide field">
                    <label>CVC</label>
                    <input type="text" name="card[cvc]" maxlength="3" placeholder="CVC">
                    </div>
                    <div class="six wide field">
                    <label>Expiration</label>
                    <div class="two fields">
                        <div class="field">
                        <select class="ui fluid search dropdown" name="card[expire-month]">
                            <option value="">Month</option>
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                        </div>
                        <div class="field">
                        <input type="text" name="card[expire-year]" maxlength="4" placeholder="Year">
                        </div>
                    </div>
                    </div>
                </div>
                <div class="ui button" tabindex="0">Submit and pay</div>
            </form>

            <div class="ui success message">
                <div class="header">
                    Your booking was completed successfully.
                </div>
                <p>Booking ref etc will show here.</p>
            </div>
        </div>    

    </body>
    <script type="text/javascript" src="./node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="./app.js"></script>
</html>