<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <title>Movie tickets</title>
    </head>
    <body ng-app="App">

        <div class="container" ng-controller="mainController">

            <h1>Best movie ticket booking system ever</h1>
            
            <!-- menu buttons -->
            <div class="btn-group">
                <button type="button" class="btn btn-primary" 
                ng-model="booking" ng-click="getCinemas()">
                        Book tickets
                </button>
                        
                <button type="button" class="btn" 
                ng-model="cancelling" ng-click="cancelling = true">
                        Cancel a booking
                </button>
            </div>

            <form name="bookingDetails" ng-if="booking && !cancelling" novalidate>

                <!-- choose cinema -->
                <cinemas></cinemas>

                <!-- choose movie -->
                <div class="form-group" ng-if="cinemaSelected" ng-model="movieSelect">
                    <label for="Movies">Choose a movie</label>
                        <select class="form-control" id="movieSelector" 
                                ng-model="movieSelect"
                                ng-change="selectMovie(cinemaSelect, movieSelect)"
                                ng-options="movie as movie.title for movie in movies track by movie.id">
                            <option value="">-- choose movie --</option>
                        </select>
                </div>

                <!-- choose screening -->
                <div ng-model="screeningSelect">
                <div class="form-group" ng-if="movieSelected">
                    <label for="Screenings">Pick a screening.</label>
                        <select class="form-control" id="screeningSelector" 
                                ng-model="screeningSelect"
                                ng-change="selectScreening(screeningSelect)"
                                ng-options="screening as screening.date + ', ' + screening.time for screening in screenings track by screening.id">
                            <option value="">-- choose screening --</option>
                        </select>
                </div>

                <!-- choose seats -->
                <div class="form-group" ng-show="screeningSelected" ng-model="seatSelect">
                    <label for="Seats">Choose your seats</label>
                        <div class="btn-group-toggle" data-toggle="buttons" role="group" id="seatSelector">
                            <label class="btn btn-outline-success" ng-repeat="seat in seats track by $index">
                                <input type="checkbox" checked autocomplete="off" 
                                        ng-model="screeningSelect"
                                        ng-change="selectSeat($index+1)">{{$index+1}}
                            </label>
                        </div>
                    <!-- done selecting seats button sets chosenSeats to true-->
                    <button class="btn btn-primary" ng-click="chosenSeats = true">OK</button>
                </div>
                </div>

                <!-- enter details and make booking -->
                <div ng-if="chosenSeats" ng-model=enterDetails>
                    <div class="form-group">
                        <label for="Firstname">First name</label>
                        <input type="text" class="form-control" id="Firstname" name="firstName" placeholder="Enter first name" 
                               ng-model="enterDetails.firstName">
                    </div>
                    <div class="form-group">
                        <label for="Lastname">Last name</label>
                        <input type="text" class="form-control" id="Lastname" name="lastName" placeholder="Enter last name"
                               ng-model="enterDetails.lastName">
                    </div>
                    <div class="form-group">
                        <label for="Mobile">Mobile number</label>
                        <input type="text" class="form-control" id="Mobile" name="mobile" placeholder="Enter mobile number"
                               ng-model="enterDetails.mobile">
                    </div>
                    <div class="form-group">
                        <label for="Email">Email</label>
                        <input type="text" class="form-control" id="Email" name="email" placeholder="Enter email"
                               ng-model="enterDetails.email">
                    </div>
                    <div class="form-group">
                        <label for="Card">Credit card number</label>
                        <input type="text" class="form-control" id="Card" name="cardNum" placeholder="Enter credit card number without spaces"
                               ng-model="enterDetails.cardNum">
                    </div>
                    <button class="btn btn-primary" ng-click="submitDetails(enterDetails)" >Submit and pay</button>   
                </div>

                <!-- confirmation -->
                <div class="alert alert-success" role="alert"
                    ng-if="detailsSubmitted"> 
                    <p><strong>Your booking was completed successfully.</strong></p>
                    <p>Booking ref: {{bookingRef}}</p>
                </div>

                <!-- error with booking -->
                <div class="alert alert-danger" role="alert"
                    ng-if="submissionFailed">
                    <p><strong>There was an error with your booking.</strong></p>
                </div>

            </form>

            <!-- cancelling a booking -->
            <form name="cancellingDetails" ng-if="cancelling" novalidate>
                    <div class="form-group">
                        <label for="BookingRef">Booking reference</label>
                        <input type="text" class="form-control" id="BookingRef" name="bookingRef" placeholder="Enter your booking reference" 
                                ng-model="cancelRef">
                        <button class="btn btn-danger" ng-click="cancelBooking(cancelRef)">Cancel booking</button>
                    </div>
            </form>
        </div>    

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
    <script type="text/javascript" src="./node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="./app/app.module.js"></script>
    <script type="text/javascript" src="./app/cinemas/cinemas.component.js"></script>
    <script type="text/javascript" src="./app/cinemas/cinemas.module.js"></script>
    <script type="text/javascript" src="./app/cinemas/cinemas.service.js"></script>
</html>